/* general */
body {
    font-family: "Roobert";  /* see font.css */
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

section > h2 {
    color: lightgrey;
    text-transform: uppercase;
    margin-bottom: 20px;
}


/* CSS voor alle componenten components */

/* ul > li structuur wordt gebruik voor layout, niet voor klassieke lijst weergve */
.component ul {
    list-style: none;
    padding: 0;
}

/* waar een icoon achteraan wordt gebruik voeg je een linker marge toe */
.component .icon-end {
    margin-left: 6px;
}

/* waar een icoon vooraan wordt gebruik voeg je een recher marge toe */
.component .icon-start {
    margin-right: 6px;
}

/* standaard knop */
.component .button {
    display: inline-block;
    font-size: 14.08px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid rgb(21, 16, 58);
    color: rgb(21, 16, 58);
}

/* hover standaard knop */
.component .button:hover {
    background-color: rgb(21, 16, 58);
    color: #FFF
}

/* knop met primaire steunkleur */
.component .button.primary {
    background-color: rgb(85, 65, 240);
    color: #FFF;
}

/* hover knop met primaire steunkleur */
.component .button.primary:hover {
    background-color: rgb(21, 16, 58);
}

/* lichte knop voor op donkere achtergrond */
.component .button.light {
    color: #FFF;
    border: 1px solid #FFF;
}

/* hover lichte knop voor op donkere achtergrond */
.component .button.light:hover {
    color: #000;
    background-color: #FFF;
}


/* CSS voor alle artikel componenten */
.component.article * {
    margin-bottom: 5px;
}

.component.article img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.component.article label {
    display: inline-block;
    font-size: 14.08px;
    line-height: 14.08px;
}

.component.article h3 {
    color: rgb(21, 16, 58);
    font-size: 18.08px;
    font-weight: 600;
    line-height: 21.6px;
    margin-top: 0;
}

/* CSS voor article-image-left component */
.component.article.article-image-left {
    display: flex;    
}

.component.article.article-image-left .content {
    width: 70%;
}

.component.article.article-image-left .image {
    width: 30%;
    margin-right: 15px;
}

/* CSS voor feedback component */
.component.feedback ul {
    display: flex;
    margin: 40px 0;
}

.component.feedback ul li {
    width: 33%;
}

.component.feedback ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration:  none;
    color: rgb(21, 16, 58);
}

.component.feedback li i {
    font-size: 16px;
    color: #5541f0;
    margin-bottom: 10px;
}

.component.feedback li span {
    font-weight: bold;
}

/** top-bar */
.component.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.component.top-bar .left .button {
    margin-right: 10px;
}

.component.top-bar .logo img {
    height: 32px;
}

.component.top-bar .right ul {
    display: flex;
    align-items: center;
}

.component.top-bar .right ul li {
    margin-right: 15px;
}

.component.top-bar .right ul li .icon {
    color: #5541f0;
}

.component.top-bar .right ul li:last-child {
    margin-right: 0;
    border-radius: 15px;
    background-color: rgba(241, 241, 248, .8);
    padding: 15px;
}

.component.top-bar .right ul li:last-child a,
.component.top-bar .right ul li:last-child .icon {
    color: #000;
}

.component.top-bar .right ul li:last-child a {
    text-decoration: none;
}

/* CSS voor alle call-to-action componenten */
.component.cta {
    border-radius: 15px;
}

.component.cta .logo {
    width: 72px;
    margin-right: 20px;
}

.component.cta .text {
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    font-size: 24px;
}

.component.cta .text.small {
    font-size: 18.08px;
    font-weight: normal;
}

/* CSS voor sporza call-to-action */
.component.cta.cta-sporza {
    display: flex;
    background-color: #000;
    color: #FFF;
    padding: 70px 50px;
}

.component.cta.cta-sporza .content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* CSS Voor call-to-action-full & call-to-action-split */
.component.cta.cta-split .button,
.component.cta.cta-full .button {
    margin-top: 10px;
}

.component.cta.cta-full,
.component.cta.cta-split .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* CSS voor call-to-action-full */
.component.cta.cta-full {
    padding: 20px;
    color: #FFF;
    position: relative;
}

.component.cta.cta-full .transparent-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.component.cta.cta-full .content {
    position: relative;
    z-index: 2;
}

/* CSS voor call-to-action-split */
.component.cta.cta-split {
    display: flex;
    background-color: rgb(21, 16, 58);
    color: #FFF;
}

.component.cta.cta-split .image,
.component.cta.cta-split .content {
    width: 50%;
}

.component.cta.cta-split .image {
    padding: 25px 20px; /* 25px boven/beneden & 20px links/rechts */
    border-radius: 15px 0 0 15px; /* alleen links boven & onder */
}

.component.cta.cta-split .image label {
    background-color: #FFE682;
    border-radius: 15px;
    padding: 5px 10px;
    color: #000;
}

.component.cta.cta-split .content {
    padding: 30px;
}

/* speficiek voor VRT radio call-to-action */
#cta-vrt-radio {
    background-image: url('https://images.vrt.be/orig/2023/01/09/03cb84e9-900c-11ed-b07d-02b7b76bf47f.jpg');
}

/* specifiek voor regio nieuws call-to-action */
#cta-vrt-regio-nieuws-halle .image {
    background-image: url("https://images.vrt.be/vrtnws_web/2023/03/10/707b3a24-bf56-11ed-91d7-02b7b76bf47f.jpg?width=700");
}