body {
    margin: 20px;
    font-family: "Roobert";  /* see font.css */
}

section {
    margin-bottom: 20px;
}

body > h1 {
    font-size: 40px;
}

section > h2 {
    color: lightgrey;
    text-transform: uppercase;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
}